!DOCTYPE html>
<html>
<head>
    <title>Playing BlockSet</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="navbar">
        <h2>BLOCKSET</h2>
        <div>Score: <span id="score">0</span></div>
        <a href="/" class="btn">Exit</a>
    </div>
    <div class="game-container">
        <div id="game-board"></div>
        <div id="block-container"></div>
    </div>
    <script src="/js/game.js"></script>
</body>
</html>
